<div class="product-card card mb-2">
  <div class="card-body">
    <div class="row product-card-row w-100 flex-column align-items-center flex-lg-row align-items-lg-start justify-content-lg-between">
      <div class="product-image">
        <img [src]="beer.imageBase64" [alt]="beer.name" class="img-fluid img-beer" />
      </div>
      <div class="product-title">{{ beer.name }}</div>
      <div class="product-price">{{ beer.price | currency: "BRL":true }}</div>
      <div class="product-type">{{ beer.type.name }}</div>
      <div class="product-description">{{ beer.description }}</div>
      <div class="product-options d-flex flex-row flex-lg-column justify-content-around align-items-end">
        <div>
          <a routerLink="/produtos/editar/{{ beer.id }}" title="Editar" class="text-decoration-none">
            <span class="edit icon icon-pencil"></span>
          </a>
          <button title="Excluir" (click)="excluir()" class="text-decoration-none">
            <span class="delete icon icon-bin"></span>
          </button>
        </div>
        <div class="mt-3">
          <a href="#" class="btn btn-success">Fazer nova simulação</a>
        </div>
      </div>
    </div>
  </div>
</div>
