<div class="product-card card">
  <div class="card-body">
    <div class="row product-card-row w-100 flex-column align-items-center flex-md-row align-items-md-start justify-content-md-between">
      <div class="product-image">
        <img src="https://via.placeholder.com/150" alt="Image" class="img-fluid" />
      </div>
      <div class="product-title">title</div>
      <div class="product-price">price</div>
      <div class="product-type">beer-type</div>
      <div class="product-description">description</div>
      <div class="product-options d-flex flex-column justify-content-around align-items-end">
        <div>
          <a href="#" title="Editar">
            <span class="edit icon icon-pencil"></span>
          </a>
          <a href="#" title="Excluir">
            <span class="delete icon icon-bin"></span>
          </a>
        </div>
        <div class="mt-3">
          <a href="#" class="btn btn-success">Fazer nova simulação</a>
        </div>
      </div>
    </div>
  </div>
</div>
