<div class="login-form">
  <h2>Login</h2>
  <div class="mt-5">
    <form>
      <div class="form-group">
        <label for="email">Email</label>
        <input id="email" name="email" type="email" class="form-control" />
      </div>
      <div class="form-group">
        <label for="password">Senha</label>
        <input id="password" name="password" type="password" class="form-control" />
      </div>
      <button type="submit" class="btn btn-primary mt-5">Entrar</button>
    </form>
  </div>
</div>
